.header{
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}

.admin{
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin a{
    color: #000000;
    text-decoration: none;
  }

  .admin a:hover{
    color: #000000;
    text-shadow: 0 0 10px #3c3c3c, 0 0 20px #3c3c3c, 0 0 30px #3c3c3c;
  }

